anthropic
datasets>=2.14,<3.0
evaluate
fastapi
gensim
matplotlib
mlflow
nltk
numpy
optimum
pandas
peft
pydantic
requests
scipy
sentencepiece
seqeval
scispacy
seaborn
sentence-transformers
scikit-learn
spacy
torch>=2.2
transformers>=4.36,<5.0
